.button {
  background: var(--grey-300);
  font-size: 0.75rem;
  color: var(--grey-950);
  font-family: var(--font-jost), var(--font-geist-sans), Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  min-height: 44px;
  transition: all 0.2s ease;
  border: none;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus-visible {
  background: var(--grey-400);
  cursor: pointer;
}

.button:not(:disabled):active {
  background: var(--grey-450);
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.button--mini {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  min-height: 0;
}

.button--invert {
  background: none;
  color: var(--grey-300);
  border: 1px solid var(--grey-300);
}

.button--invert:not(:disabled):hover,
.button--invert:not(:disabled):focus-visible,
.button--invert:not(:disabled):active {
  background: none;
  color: var(--grey-450);
  border-color: var(--grey-450);
}

.button--primary {
  background: var(--primary-color);
  color: var(--grey-950);
}

.button--primary:not(:disabled):hover,
.button--primary:not(:disabled):focus-visible {
  background: var(--primary-color--hover);
  color: var(--grey-950);
}

.button--primary:not(:disabled):active {
  background: var(--primary-color--pressed);
}

.button--primary-invert {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button--primary-invert:not(:disabled):hover,
.button--primary-invert:not(:disabled):focus-visible {
  background: none;
  border-color: var(--primary-color--hover);
  color: var(--primary-color--hover);
}

.button--primary-invert:not(:disabled):active {
  border-color: var(--primary-color--pressed);
  color: var(--primary-color--pressed);
  background: none;
}

.button--text {
  background: none;
  color: var(--grey-550);
  border: none;
  padding: 0;
  min-height: 0;
  font-weight: 400;
}

.button--text:not(:disabled):hover,
.button--text:not(:disabled):focus-visible {
  background: none;
  color: var(--white);
  text-decoration: underline;
}

.button--text:not(:disabled):active {
  color: var(--primary-color--pressed);
  background: none;
}

.button--text-contrast {
  background: none;
  color: var(--white);
  border: none;
  padding: 0;
  min-height: 0;
  font-weight: 400;
}

.button--text-contrast:not(:disabled):hover,
.button--text-contrast:not(:disabled):focus-visible {
  background: none;
  color: var(--primary-color);
  text-decoration: underline;
}

.button--text-contrast:not(:disabled):active {
  color: var(--primary-color--pressed);
  background: none;
}

.button--full-width {
  width: 100%;
}
